*{padding: 0;margin: 0;}
li{list-style: none;}
a{text-decoration: none;}
body,html{height: 100%;}
header,section,footer{width: 100%;}
header{padding: 1rem 0;text-align: center;font-family: "微软雅黑","宋体","times new roman";position: relative;}
header .img-l{width: 1rem;position: absolute;left:1rem ;top: 1rem;}
header .img-r{width: 1rem;position: absolute;right:1rem ;top: 1rem;}